.add-item-bar {
    margin: 10px 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.add-item-bar form {
    display: flex;
    gap: 10px;
}
.add-item-bar form input {
    flex-grow: 75;
}
.add-item-bar form button {
    flex-grow: 25;
}