.todo-item {
    border-radius: 5px;
    border: 1px dashed black;
    padding: 5px;
    text-align: left;
}
.todo-item h3 {
    margin: 2px 0 5px 0;
}
.todo-item .edit-links {
    font-size: small;
    margin: 2px 0;
}
.todo-item .advance {
    width: 50%;
    border: 1px solid;
    border-radius: 15px;
}
.todo-item .advance.OPEN {
    background-color: rgba(21, 170, 191, 0.3);
    border-color: #0b7285;
    color: #0b7285;
}
.todo-item .advance.IN_PROGRESS {
    background-color: rgba(64, 192, 87, 0.3);
    border-color: #2b8a3e;
    color: #2b8a3e;
}
.todo-item .advance.DONE {
    background-color: rgba(250, 82, 82, 0.3);
    border-color: #c92a2a;
    color: #c92a2a;
}